<a href="https://colab.research.google.com/github/isegura/BasicPython/blob/main/1_PythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Introduction

## Variables and Literals

A variable is a named location used to store data in the memory. For example, in the following cell, a is a variable with value 5.

In [ ]:
a = 5

In Python, we do not need to define variable type. For example, we can do this:

In [ ]:
a=5
print(a,type(a))
a='Hi students!!!'
print(a,type(a))

5 <class 'int'>
Hi students!!! <class 'str'>

## Operators
Operators are special symbols to perform operations on operands (variables and values). 

We start seeing about arithmetic operators, which are are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [ ]:
x = 6
y = 4

# Add two operands
print('x + y =', x+y) # Output: x + y = 10

# Subtract right operand from the left
print('x - y =', x-y) # Output: x - y = 2

# Multiply two operands
print('x * y =', x*y) # Output: x * y = 24

# Divide left operand by the right one 
print('x / y =', x/y) # Output: x / y = 1.5

# Floor division (quotient)
print('x // y =', x//y) # Output: x // y = 1

# Remainder of the division of left operand by the right
print('x % y =', x%y) # Output: x % y = 2

# Left operand raised to the power of right (x^y)
print('x ** y =', x**y) # Output: x ** y = 1296

x + y = 10
x - y = 2
x * y = 24
x / y = 1.5
x // y = 1
x % y = 2
x ** y = 1296

Let me show you more examples:

In [ ]:

a = 1

# a += 5 ----> a = a + 5
a +=5
print(a) # Output: 6

# a /= 2 ----> a = a / 2
a /= 2
print(a) # Output: 3.0

6
3.0

## Python Comments
We can write comments in our code in 3 different ways:

In [ ]:
#This is a line comment

""" This is a multiline 
comment
"""

'''This is also a multiline
comment'''

## Get Input from User

The **input()** function allows us to take input from user. For example:

In [ ]:
name = input('Please, enter your name:')
print('Your name is:', name)

Please, enter your name:Isabel Segura Bedmar
Your name is: Isabel Segura Bedmar

##Â Type Conversion

We can transform a variable from one data type (integer, string, float, etc.) to another. There are two ways to perform type conversion:
- Implicit type converion: Python always transforms smaller  type to larger  type to avoid the loss of data. The user does not have to say anything. 
- Explicit conversion: the user choose what data type is used by using predefined functions such as int(), float(), str().

In [ ]:
a = 5  # integer type
b = 3.2 # float type

number = a + b

print("number:",number)
print("type of number:",type(number))

number: 8.2
type of number: <class 'float'>

The following cell will throw an error because Python does not implement any type conversion for the operator + with a number and a string:
 
"TypeError: unsupported operand type(s) for +: 'int' and 'str'"

In [ ]:
a = 5     # int type
b = "23"   # str type

print(a+b)

TypeError: ignored

To avoid this error, Python allows users to define their own type conversions. In the previous example, we can apply two different type conversions. 

1) For example, from str to int by using the function int(). In our example, we convert the value stored in b, "23" to 23. Then, the operator '+' is working on two integers, and its results will be the addition of these numbers: 28.

In [ ]:
a=5
b="23"
result=a + int(b)

print(result,type(result)) #this will show 28 <class 'int'>

28 <class 'int'>

2) From int to str by using the function str(). In our example, we convert the value stored in a, 5 to "5". Then, the operator '+' is working on two strings. So it concatenate the two strings resulgint "523"

In [ ]:
a=5
b="23"
result=str(a) + b

print(result,type(result)) #this will show 523 <class 'str'>

523 <class 'str'>

## Some basic types in Python

Python supports integers (int), floating point numbers (float) and complex numbers (complex). Python also allows to define value booleans: True and False.

In [ ]:
# Output: <class 'int'>
print(type(5))

# Output: <class 'float'>
print(type(5.0))

c = 5 + 3j

# Output: <class 'complex'>
print(type(c))

c= True
# Output: <class 'bool'>
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>