<a href="https://colab.research.google.com/github/isegura/BasicPython/blob/main/2_basicdatastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Data Structures in Python 

Python provides several predefined data types to store sequences. These are lists, 


## Lists
Lists can be used to store any number of elements (which could have different types). To create a list, we place all the elements (items) separated by commas inside a square bracket [].

For example:

In [ ]:
# empty list
l = []

# list of integers
l = [1, 2, 3]
print(l)

# list with elements of different types
l = [5, True, "Hi students", -3.5]
print(l)

[1, 2, 3]
[5, True, 'Hi students', -3.5]

To access an element of the list, you have to indicate the index (position) of the element. Remmember that the index of the first element is 0, while the last element is len(l)-1.

You can also use negative indexes: -1 refers to the last element, -2 to the second last item and so on.

In [ ]:
l=['Spain','Italy','USA','UK','China']
print('l[0]=',l[0])
print('l[2]=',l[2])
print('l[len(l)-1]=',l[len(l)-1])

print('l[-1]=',l[-1])
print('l[-2]=',l[-2])

l[0]= Spain
l[2]= USA
l[len(l)-1]= China
l[-1]= China
l[-2]= UK

The elements of a list can be modified. For example, in the previous list, we can replace 'Spain' to 'Germany':

In [ ]:
l[0]='Germany'

print(l)

['Germany', 'Italy', 'USA', 'UK', 'China']

### Adding elements

To add new elements, you can use the function **append**, which add the element at the end of the list:

In [ ]:
l.append('France')

#This will show ['Germany', 'Italy', 'USA', 'UK', 'China', 'France']
print(l)

['Germany', 'Italy', 'USA', 'UK', 'China', 'France']

The **insert** function allows us to insert an element into a specific position (index). The syntax of the insert() method is **list.insert(i, elem)**, where  elem is inserted to the list at the ith index. All the elements after elem are shifted to the right.

In [ ]:
l.insert(0,'Spain')
print(l)
l.insert(3,'Poland')
print(l)

['Spain', 'Spain', 'Germany', 'Italy', 'USA', 'UK', 'China', 'France']
['Spain', 'Spain', 'Germany', 'Poland', 'Italy', 'USA', 'UK', 'China', 'France']

The function **extend** also allows you to concatanate two lists. For example:

In [ ]:
l1=[3,5,6]
l2=[0,3]

l1.extend(l2)
#It will show [3, 5, 6, 0, 3]
print(l1)

[3, 5, 6, 0, 3]

**Exercise**: Compare the functions extend and append on a list.


### Removing elements

To remove elements of the list, there are different methods. 
For example, the function **clear** allows you to remove all elements:

In [ ]:
l=[3,6,7,8]
print(l)
l.clear()
print(l)

[3, 6, 7, 8]
[]

To remove a specific element, you can use the function **remove** as follows:

In [ ]:
l=[5,2,3,0,5,12,-3]
l.remove(2)
print(l)

[5, 3, 0, 5, 12, -3]

If a list contains duplicate elements, the remove() method only removes the first  element.

In [ ]:
l=[5,2,3,0,5,12,-3]
l.remove(5)
print(l)

[2, 3, 0, 5, 12, -3]

If you try to remove an element that does not exist into the list, it will throw and error:

In [ ]:
l.remove(100)

ValueError: ignored

To remove elements based on their indexes, you can use the pop() function.

If you do not give any index, the pop() function will remove the last element of the list.

In [ ]:
l=[5,2,3,0,5,12,-3]
l.pop()
#it will show [5, 2, 3, 0, 5, 12]
print(l)

l.pop(0)
#it will show [2, 3, 0, 5, 12]
print(l)

l.pop(3)
#it will show [2, 3, 0, 12]
print(l)

[5, 2, 3, 0, 5, 12]
[2, 3, 0, 5, 12]
[2, 3, 0, 12]

###Searching elements

The index function() returns the index of an element

In [ ]:
l=[2, 3, 0, 12]
print('index of 3 is: ',l.index(3))

index of 3 is:  1

If the element does not exist, the index function will throw an error:

In [ ]:
print('index of 5 is: ',l.index(5))

ValueError: ignored

The **count** function counts the occurrences of an element in a list. If the element does not exist, the function will return 0.

In [ ]:
l=[2, 3, 0, 12,3,5,3]
print('frecuency of 3:',l.count(3))
print('frecuency of 100:',l.count(100))

frecuency of 3: 3
frecuency of 100: 0

### Sorting the list

You can sort the list by using the **sort** function:

In [ ]:
l=[15,1,2,3,5,0,7,22]
print(l)
l.sort()
print(l)

[15, 1, 2, 3, 5, 0, 7, 22]
[0, 1, 2, 3, 5, 7, 15, 22]

By default the list is sorted in ascending order. You can obtain the descending sorted by using the parameter:

In [ ]:
l=[15,1,2,3,5,0,7,22]
print(l)
l.sort(reverse=True)
print(l)

[15, 1, 2, 3, 5, 0, 7, 22]
[22, 15, 7, 5, 3, 2, 1, 0]

The sort() funtion also accepts a key function as an optional parameter. Based on the results of the key function, you can sort the given list.

In [ ]:
# take second element for sort
def get2nd(elem):
    return elem[1]

l = [(2, 2), (3, 4), (4, 1), (1, 3)]

# sort list with key
l.sort(key=get2nd)

# print list
print('Sorted list:', l)

Sorted list: [(4, 1), (2, 2), (1, 3), (3, 4)]

If you don't want to modify the list, you can use the **sorted** function that will return a new sorted list:

In [ ]:
l=[15,1,2,3,5,0,7,22]
print(l)
newlist=sorted(l)
print(l,newlist)

[15, 1, 2, 3, 5, 0, 7, 22]
[15, 1, 2, 3, 5, 0, 7, 22] [0, 1, 2, 3, 5, 7, 15, 22]

### Coping lists

The operator '=' allows us to create a new list from another list. However, both lists are actually the same list

In [ ]:
l1 = [1, 2, 3]
l2 = l1

# add an element to list
l2.append(4)

print('l2:', l2)
print('l1:', l1)

l2: [1, 2, 3, 4]
l1: [1, 2, 3, 4]

To create a different list with the same values of the input list, you should use the **copy** function. The following example shows that the two lists are different.

In [ ]:
l1 = [1, 2, 3]
l2 = l1.copy()

# add an element to list
l2.append(4)

print('l2:', l2)
print('l1:', l1)

l2: [1, 2, 3, 4]
l1: [1, 2, 3]

### Reversing lists

The **reverse** function allows us to reverse a list

In [ ]:
l = [1, 2, 3]
print('Original List:', l)

l.reverse()

# updated list
print('Updated List:', l)

Original List: [1, 2, 3]
Updated List: [3, 2, 1]

### Slicing 

You can obtain a sublist from an input list by using slicing.


In a slicing, the start position start and end position stop of the selection are written as [start:stop].

The range start <= x <stop is selected. Note that the item at start is included, but the item at stop is not included.

In [ ]:
l = [0, 10, 20, 30, 40, 50, 60]
print(l)
# [0, 10, 20, 30, 40, 50, 60]

print(l[2:5])
# [20, 30, 40]

[0, 10, 20, 30, 40, 50, 60]
[20, 30, 40]

# Tuples

Tuples are as lists except their elements cannot be changed  once the tuple is defined. In other words, list is mutable whereas tuple is immutable.

To create a tuple, we place all the elements (items) separated by commas inside a parenthesis ().

In [ ]:
colors=('red','blue','green','yellow')
print(colors)
print('colors[0]=',colors[0])
print('colors[-1]=',colors[-1])

('red', 'blue', 'green', 'yellow')
colors[0]= red
colors[-1]= yellow

The following cell will throw the error ''tuple' object does not support item assignment'

In [ ]:
colors[0]='black'

TypeError: ignored

## Sets

A set is a collection of unique objects. They allow to create lists that only have unique values.

In [6]:
setA=set('abcede')
print(setA)

{'a', 'e', 'c', 'd', 'b'}

In [8]:
setB=set('hello')
print(setB)

{'e', 'l', 'o', 'h'}

In [9]:
# All the elements in setA but not in setB
print(setA-setB)

{'a', 'c', 'd', 'b'}

In [12]:
# Unique elements in setA or setB or both
print(setA|setB)

{'l', 'a', 'o', 'd', 'b', 'e', 'c', 'h'}

In [ ]:
#elements that are in both setA and setB
print(setA&setB)

## Dictionaries

Dictionaries are made up of key-value pairs. key is used to identify the item and the value holds as the name suggests, the value of the item.

In [3]:
emails = {'Isabel':'isegura@inf.uc3m.es', 'Harith':'haljumai@inf.uc3m.es', 'MJ':'maluciam@inf.uc3m.es', 'Cristobal':'ccolon@inf.uc3m.es'}
print(emails)
#you can directly access some element of the dictionary by using its key
print('email of Isabel',emails['Isabel'])
print('keys of emails', emails.keys())
print('values of emails', emails.values())

#to remove an element you can use the operaction 'del'
del emails['MJ']
print(emails)
print('length of the dictionary', len(emails))

{'Isabel': 'isegura@inf.uc3m.es', 'Harith': 'haljumai@inf.uc3m.es', 'MJ': 'maluciam@inf.uc3m.es', 'Cristobal': 'ccolon@inf.uc3m.es'}
email of Isabel isegura@inf.uc3m.es
keys of emails dict_keys(['Isabel', 'Harith', 'MJ', 'Cristobal'])
values of emails dict_values(['isegura@inf.uc3m.es', 'haljumai@inf.uc3m.es', 'maluciam@inf.uc3m.es', 'ccolon@inf.uc3m.es'])
{'Isabel': 'isegura@inf.uc3m.es', 'Harith': 'haljumai@inf.uc3m.es', 'Cristobal': 'ccolon@inf.uc3m.es'}
length of the dictionary 3